@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

@if(Model != null)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movies in Model)
            {
                <tr>
                    <td>
                        @*@Html.ActionLink(movies.Name, "Details", "Movies", new { id = movies.Id }, null)*@
                        <a href="@Url.Action("Details", new { movies.Id})" style="text-decoration:none">@movies.Name</a>
                    </td>
                    <td>@movies.Genre.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", new { movies.Id})" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
