@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

@if (Model != null)
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { customer.Id})" style="text-decoration:none">@customer.Name</a>
            </td>
            <td>@customer.MembershipType.Name</td>
            <td>
                <a href="@Url.Action("Edit", new { customer.Id})" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}

else
{
<p>We dont have any record yet.</p>
}